[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
diffusers = "*"
transformers = "*"
torch = "*"
accelerate = "*"
datasets = "*"
soundfile = "*"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.11"
